.search {
    background-color: rgb(197, 170, 170); 
padding:20px;
height:4rem;
width: 76%;
border-radius: 50px;
border: none;
font-size: 1rem;
position:absolute;
top:100px;
left:140px;
}

.siiin {background-color: rgb(197, 170, 170); 
    width: 4%;
    padding:8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height:80px;
    position:absolute;
top:80px;
right:200px;
box-sizing: content-box;

}

svg {
    color:rgb(243, 249, 249);
    width:30px;
    height: 45px;

   position:relative;
   left:6%;
   top:-10px;
   margin-top:30px;
   font-size: 32px;

}
.siiin a {
    text-decoration: none;
    color:black;
}

.siiin a {
    margin: 0;
}

.register a #p {background-color: rgb(197, 170, 170); 
    width: 60px;
   
    border-radius: 20px;
    height:1rem;
    font-size: 1rem;
    font-weight: 500;
    margin-right:40px;
   

}
.register a {
    text-decoration: none;
    color:black;


}

.register {
    position:absolute;
    top:180px;
    right:180px;
    background-color: rgb(197, 170, 170);
    border-radius: 20px;
    padding:0px;
}
