.css1 {
    width: 15%;
    padding:20px;
    z-index: 1;
    background-color: rgba(245, 241, 241, 0.971);
    margin: 0px 80px;
    height:90%;
    border-radius: 30px;
   
  

}

.css2 {
    width: 15%;
    padding:20px;
    z-index: 1;
    background-color: rgba(245, 241, 241, 0.971);
    margin: 0 80px;
    height:90%;
    border-radius: 30px;


  
}