.contact-class1 {
    width: 10%;
    padding:20px;
    z-index: 1;
    background-color: rgba(245, 241, 241, 0.971);
    margin: 60px 80px;
    height:50%;
    border-radius: 30px;
    

}

.contact-class2 {
    width: 25%;
    padding:25px;
    z-index: 1;
    background-color: rgba(245, 241, 241, 0.971);
    margin: 0 80px;
    height:90%;
    border-radius: 30px;
    font-weight: 600;
}